/* .container {
  position: relative;
  justify-content: center;
  align-content: center;
} */

#form-service {
  position: absolute;
  top: 450px;
  left: 700px;
  z-index: 1;
  background: white;
}

#similar-homes {
  position: relative;
  top: 1400px;
  left: 50px;
}

#photos {
  position: absolute;
  top: 50px;
  left: 50px;
}

#gendesc {
  position: relative;
  top: 220px;
  left: 55px;
  z-index: 0;
  background: white;
}